<div id="content-wrapper">
        <figure>
        <img src="{{site.baseurl}}assets/img/derek.jpg" alt="photo of derek" width="200">

        <ul>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-github"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>
        
        
        


        <figcaption>This is me</figcaption>
        </figure>


        <h1 class="grey-copy">Derek Wall</h1>

        <h1>Derek Wall</h1>
        

        <ul>
            <li><a href="http://www.google.com">Google</a></li>
            <li><a href="http://www.youtube.com">Youtube</a></li>
            <li><a href="http://www.facebook.com">Facebook</a></li>
        </ul>